<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>

    <form [formGroup]="formData">
      <ion-list>
        <ion-item>
          <ion-label position="fixed">Name: </ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Last Name: </ion-label>
          <ion-input formControlName="lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Phone: </ion-label>
          <ion-input formControlName="Phone" type="numeric"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button (click)="onSubmit()" type="Add" expand="block">Save</ion-button>

    </form>

    <ion-list>
  <ion-item-sliding *ngFor="let item of items">
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/avatar1.png">
      </ion-thumbnail>
     {{item.name}}
    {{item.lastName}}<br>
     {{item.Phone}}
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option (click)="alertThis()"><ion-icon name="trash"></ion-icon></ion-item-option>
      <ion-item-option (click)="navigateToMessage()"><ion-icon name="mail-outline"></ion-icon></ion-item-option>
    </ion-item-options>
    
  </ion-item-sliding>
  
</ion-list>
  </ion-content>